.consumer-goods {
  width: var(--container-width-lg);
  margin: 0 auto;
  margin-top: 8rem;
}

.consumer-goods-header img{
    border-radius: 1.2rem;
    display: block;
    max-width: 400px;

}

.consumer-goods h4,.consumer-goods p  {
    margin-bottom: 1rem;
}


.consumer-goods-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.consumer-goods-header h4, .consumer-goods h1, .consumer-goods h4, .consumer-goods h2 {
    color: var(--color-primary);
}

.consumer-goods h2  {
    margin-bottom: 1rem;
    margin-top: 2rem;
}