.automotive {
    width: var(--container-width-lg);
    margin: 0 auto;
    margin-top: 8rem;
}

.automotive img {
    max-width: 500px;
    display: block;
    border-radius: 1.1rem;
}

.automotive-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.automotive-content p {
    margin-bottom: 1rem;
}

.automotive-content > div {
    max-width: 50%;
}

.automotive-content h1{
    color: var(--color-primary);
}

.automotive ul{
    margin-top: 1rem;
    padding-left: 2rem;
}
